<%include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="thumbnail"><p>
                    <img class="img-responsive" src="<%=campId.image%>">
                </p>  
                <div class="caption-full">
                        <div class="pull-right">$ <%=campId.price%>/night</div>
                        <h4> <a><%=campId.name%></a></h4> 
                        <p><%=campId.description%></p>
                      <em> <p>Submitted By :<%=campId.author.username%></p> </em> 
                </div> 
            </div> 
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%=campId._id%>/comment/new">Add a comment</a>
                      <%if(currentUser && campId.author.id.equals(currentUser._id)){%>
                        <a class="btn btn-warning" href="/campgrounds/<%=campId._id%>/edit">Edit Campgrounds</a>
                        <form id="some" action="/campgrounds/<%=campId._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <%}%>
                </div>
                <hr/>
                <% campId.comments.forEach(function(comm){ %>
                <div class="row">
                    <div class="col-md-12">
                            <strong><%=comm.author.username%></strong>
                            <div class="pull-right">10days ago</div>
                            <p>
                                    <%=comm.text%>
                            </p>
                            <%if(currentUser && comm.author.id.equals(currentUser._id)){%>
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campId._id%>/comments/<%=comm._id%>/edit">Edit</a>
                            <form id="some" action="/campgrounds/<%=campId._id%>/comments/<%=comm._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                            <%}%>
                    </div>
                </div>
                <% }); %>
            </div>    
        </div>
    </div>
</div>
<%include ../partials/footer%>